header {
  nav.navbar {
    max-width: 840px;
    padding: 0;
    box-shadow: 0px 5px 5px #f0f0f0;

    @media (max-width: 992px) {
      max-width: 690px;
    }

    div.container-fluid {
      background-color: #fff;
      background-image: none;

      div.navbar-header {
        a.navbar-brand {
          font-family: 'Grand Hotel', sans-serif;
          text-transform: lowercase;
          font-size: 42px;
          color: $accent;
          transition: color 0.3s;

          &:hover {
            color: $accent-lighter;
          }
        }
      }


    }

    &.navbar-menu {
      top: 50px;

      ul.nav {
        li {
          margin: 15px 10px;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          a {
            padding: 0;
            color: #aaa;
            font-size: 14px;
            font-weight: 500;
            text-shadow: none;

            &:hover {
              background-color: transparent;
              color: $accent;
            }
          }
        }
      }
    }
  }
}