@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|PT+Serif:400i&amp;subset=latin-ext');

$accent: #00008B;
//$accent: #3d5afe;
//$accent-lighter: #5676ff;
$accent-lighter: #000066;

body {
  background-color: #f7f7f7;
  font-family: 'Lato', sans-serif;
  //padding-top: 120px;
}

a {
  color: $accent;

  &:hover {
    color: $accent-lighter;
  }
}

h4 {
  &.small {
    display: block;
    font-size: 60%;
    color: #888;
  }
}

.mainContent,
footer.container {
  max-width: 900px;
}

footer.container {
  margin-top: 30px;
  padding: 30px 0;
  border-top: 1px dashed #aaa;
}

@media (max-width: 767px) {
  .sidebar {
    padding-top: 30px;
  }
}


@media (min-width: 980px) {
  body {
    padding-bottom: 40px;
  }
}

@import 'header';
@import 'index';
@import 'sidebar';
@import 'article';
@import 'footer';
@import 'tags';