---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---
{% for post in page.pagination.items %}
    <article class="preview">
        <header>
            <h2>
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            </h2>
        </header>

        <div class="content">
            {% set break_array = post.blocks.content|split('<!-- more -->', 2) %}

            {{ break_array[0]|raw }}

            {% if break_array|length > 1 %}
            <p>
                <a href="{{ site.url }}{{ post.url }}">
                    Czytaj dalej
                </a>
            </p>
            {% endif %}
            {# post.blocks.content|raw #}
        </div>

        <div class="post-info">
            {% if post.meta.tags %}
                <p class="tags">
                    <i class="ion-pricetags"></i>
                    {% for tag in post.meta.tags %}
                        <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </article>
{% endfor %}

{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="pagination">
        {% if page.pagination.next_page %}
            <a href="{{ site.url }}{{ page.pagination.next_page.url }}">
                <i class="ion-ios-arrow-left"></i> Older Posts
            </a>
        {% endif %}
        <span>Page {{ page.pagination.page }}</span>
        {% if page.pagination.previous_page %}
            <a href="{{ site.url }}{{ page.pagination.previous_page.url }}">
                Newer Posts <i class="ion-ios-arrow-right"></i>
            </a>
        {% endif %}
    </nav>
{% endif %}
